<form (submit)="onSubmit($event)">
    <div class="ui input">
        <input type="text" (input)="onSearch($event.target.value)" placeholder="Search Term" />
    </div>
</form>
<div *ngIf="(loader$ | async)" class="ui active dimmer">
    <div class="ui loader"></div>
</div>
<div class="image-renderer" *ngIf="imageList.length">
    <ul>
        <li class="image" *ngFor="let image of imageList">
            <a (click)="navigate(image)">
                <img [src]="image.urls.regular" [alt]="image.alt_description">
            </a>
        </li>
    </ul>
</div>